.a {
  width: 15px;
  height: 15px;
  // background-color: #fff;
  margin-right: 6px;
  background-image: url(@/assets/screen/icon/yuan.png);
}
.title {
  color: #9da8d0;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin: 10px  0 0 10px;
}